<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DlibDotNet-WithCUDA" version="19.15.0.20181008" targetFramework="net472" />
  <package id="FaceRecognitionDotNet-WithCUDA" version="1.2.3.5" targetFramework="net472" />
  <package id="GemBox.Spreadsheet" version="43.0.0.1084" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net472" />
  <package id="Spire.XLS" version="8.11.6" targetFramework="net472" />
</packages>